img[src$='#center'] {
    display: block;
    margin: 1.0rem auto;
    max-width: 100%;
    height: auto;
}

#body em {
    font-style: normal;
    display: inherit;
    text-align: center;
    font-size: 90%;
}



#body img, #body .video-container {
    margin-top: 2rem;
    margin-left: auto;
    margin-bottom: 0.5rem auto;
    margin-right: auto;
    display: block;
    text-align: center;
}